/* Add mobile styles for the component here.  */
.float-btn{
    background-color: #30bcff;
    border-radius: 28;
    width: 56;
    height: 56;
    text-align: center;
    vertical-align: middle;
}

.float-btn.down{
    animation-name: down;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.float-btn-text{
    color: #ffffff;
    font-size: 36;
    margin-top: -3;
}

@keyframes down{
    from{
        background-color: #38bcff;
    }to{
        background-color: purple;
    }
}