<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <StackLayout sdkExampleTitle sdkToggleNavButton>
    <GridLayout rows="80" columns="*,*,*,*">
        <Label text="RangApp" col="0" colSpan="1" color="yellow" verticalAlignment="center" horizontalAlignment="center"
            textAlignment="center" textWrap="true"></Label>
        <Button text="Artists" class="button-primary" col="2" [nsRouterLink]="['/artists']"></Button>
        <Button text="Soccer" class="button-primary" col="3" [nsRouterLink]="['/soccer']"></Button>
    </GridLayout>
    <page-router-outlet></page-router-outlet>
</StackLayout> -->
<page-router-outlet></page-router-outlet>
