<GridLayout columns="*,*,*,*" rows="50,*,*,50">
    <Label backgroundColor="darkblue" row="0" col="0" colSpan="3"></Label>
    <Label backgroundColor="yellow" row="1" col="0" rowSpan="1"></Label>
    <Label backgroundColor="red" row="2" col="0" rowSpan="2"></Label>
    <GridLayout backgroundColor="purple" row="1" col="1" colSpan="2" rowSpan="2">
        <Label text="I LOVE PN" color="yellow" verticalAlignment="center" horizontalAlignment="center" textAlignment="center"
            textWrap="true"></Label>
    </GridLayout>
    <Label backgroundColor="pink" row="3" col="0"></Label>
    <Label backgroundColor="darkblue" row="3" col="1" colSpan="2"></Label>
    <Label backgroundColor="yellow" row="3" col="2"></Label>
    <Label backgroundColor="green" row="0" col="3" rowSpan="4"></Label>
</GridLayout>