/* Add mobile styles for the component here.  */

.homeButton{
    /* width: 100%; */
    margin-top: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
    
}

#draggable {
    height: 100;
    width: 100;
    border-radius: 50;
    background-color: deeppink;
    text-align: center;
}   