<ActionBar title="RangApp"></ActionBar>
<!-- <GridLayout style="background-image: url('https://i.pinimg.com/originals/ef/d8/1c/efd81c5b896ca3015c449248d5b0355e.jpg'); background-repeat: no-repeat;">
    <Image #dragImage width="100" height="100" (pan)="onPan($event)" src="~/images/apple.jpg"></Image>
        <Button text="Tap me" class="homeButton" [nsRouterLink]="['/items']" color="#33cc33"></Button>
    </GridLayout> -->


<GridLayout #container width="100%" height="100%" style="background-image: url('https://i.pinimg.com/originals/ef/d8/1c/efd81c5b896ca3015c449248d5b0355e.jpg'); background-repeat: no-repeat;">
    <Image #dragImage width="100" height="100" horizontalAlignment="left" verticalAlignment="top" (pan)="onPan($event)"
        src="https://upload.wikimedia.org/wikipedia/en/2/22/TGPseal.png" [nsRouterLink]="['/items']"></Image>
</GridLayout>
